@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --background: #141414;
  --large-padding: 64px;
  --medium-padding: 40px;
  --small-padding: 12px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  overflow: hidden;
}

html,
body {
  height: 100%;
}

body {
  background: var(--background);
  display: flex;
  align-items: center;
  padding: 0 var(--large-padding);
  width: 100%;
  justify-content: space-around;
}

body > * {
  height: 80vh;
  min-width: 0;
  min-height: 0;
}

.video-container {
  position: relative;
  flex: 1 0 auto;
  border-radius: 8px;
}

.video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body:fullscreen .video-container {
  border-radius: 0;
  position: absolute;
  height: auto;
  margin: 0 !important;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

body:fullscreen .video {
  object-fit: contain;
}

body:fullscreen .statistics {
  min-width: 250px;
  min-height: 250px;
  width: 30vw;
  height: 30vw;
  max-width: 400px;
  max-height: 400px;
  margin: var(--large-padding);
  border-radius: 12px;
  opacity: 0.7;
  backdrop-filter: blur(12px);
  position: absolute;
  top: 0;
  left: 0;
  background: #4447;
  padding: var(--medium-padding);
}

body:fullscreen .chart-container {
  margin: 0 !important;
}

body:fullscreen .overall > div {
  width: 90px;
  height: 90px;
}

body:fullscreen .overall > div > h2 {
  font-size: 12px;
}

body:fullscreen .overall > div > p {
  font-size: 32px;
}

body:fullscreen #tendencia {
  width: 35px;
  height: 35px;
}

.full-screen-controls {
  position: absolute;
  bottom: var(--medium-padding);
  right: var(--medium-padding);

  background-color: white;
  opacity: 0.5;
  transition: opacity 200ms ease;
  width: 52px;
  height: 52px;
  border-radius: 1000px;
}

.full-screen-controls:hover {
  cursor: pointer;
  opacity: 1;
}

.statistics {
  flex: 0 0 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#tendencia {
  transition: transform 200ms;
  width: 75px;
  height: 75px;
}

.overall {
  display: flex;
  justify-content: space-between;
}

.overall > div {
  border-radius: 8px;
  width: 156px;
  height: 156px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: background 200ms;
}

.overall > div > h2 {
  font-size: 18px;
  margin-top: var(--small-padding);
}

.overall > div > p {
  font-size: 60px;
}

.chart-container {
  margin-top: var(--medium-padding);

  position: relative;
  flex: 1;
}

.chart-container > * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line {
  width: calc(100% - 28px);
  height: 2px;
  border-radius: 100px;
  margin-left: 28px;
}

.line:first-child {
  margin-top: 25.5px;
}

.line:nth-child(1) {
  background-color: #1ebce5;
}

.line:nth-child(2) {
  background-color: #49a7ca;
}

.line:nth-child(3) {
  background-color: #7191af;
}

.line:nth-child(4) {
  background-color: #9c7c94;
}

.line:nth-child(5) {
  background-color: #c56679;
}

.line:nth-child(6) {
  background-color: #f0515e;
}

.line:last-child {
  margin-bottom: 26.5px;
}

@media (max-width: 1000px) {
  :root {
    --large-padding: 24px;
    --medium-padding: 16px;
    --small-padding: 8px;
  }

  body {
    flex-direction: column;
  }

  .statistics {
    width: 100%;
  }

  .overall > div {
    width: 90px;
    height: 90px;
  }

  .overall > div > h2 {
    font-size: 12px;
  }

  .overall > div > p {
    font-size: 32px;
  }

  .video-container {
    width: 100vw;
    margin-bottom: var(--medium-padding);
    height: auto;
    border-radius: 0;
  }

  .statistics {
    flex: 0 1 600px;
    margin-bottom: var(--medium-padding);
  }

  #output-video {
    position: relative;
  }

  #tendencia {
    width: 35px;
    height: 35px;
  }
}

@media (min-width: 1000px) {
  .video-container {
    margin-right: var(--medium-padding);
  }
}
